<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistem_Monitoring_Jadwal_Tanam.Properties.Settings.DBSistemMonitoringMasaTanamConnectionString"
            connectionString="Data Source=MSI\BAGAS;Initial Catalog=DBSistemMonitoringMasaTanam;User ID=sa;Password=bagas3005;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>